.ecm-showcase:not(.last) {
    position: relative;
    width: 100%;
    height: 580px;
    @include tx-shd;
    box-shadow: 0 5px 12px -2px rgba(0,0,0,0.12);

    z-index: 2;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 30px;
        height: 80px;
        z-index: -1;

        box-shadow: 0 35px 30px rgba(0,0,0,0.45);

    }

    &::before {
        left: 2px;
        right: 25%;
        transform: rotate(-2deg);
    }
    &::after {
        left: 25%;
        right: 2px;
        transform: rotate(2deg);
    }


    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;

            img {
                &.img-right-top {
                    position: absolute;
                    top: 0;
                    width: 213px;
                    height: 373px;
                    right: 135px;
                    transform: translateX(135px);
                    opacity: 0;
                }

                &.img-left {
                    position: absolute;
                    top: 0;
                    width: 521px;
                    height: 580px;
                    left: 135px;
                    transform: translateX(-120px);
                    opacity: 0;
                }

                &.img-right-top {
                    animation: none; 
                }

                &.img-left {
                    animation: none; 
                }

                @media (max-width: 768px) {
                    &.img-right-top, &.img-left { display: none; }
                }

            }

            &.active {
                img {
                    &.img-right-top {
                        animation: fadeInLeft 3700ms  ease-in-out forwards 500ms; 
                    }

                    &.img-left {
                        animation: fadeInRight 1000ms  ease-in-out forwards 500ms; 
                    }
                }
            }
        }

    }
}

.ecm-section.last {
    float: left;
    width: 100%;
    padding: 80px 0px 80px 0px;background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-position: center;
    background-size: 100% 108% !important;
    background-attachment: fixed !important;

    .ecm-showcase {
        position: relative;
        width: 100%;
        height: 580px;
        @include tx-shd;
    
        .carousel-inner {
            height: 100%;
    
            .carousel-item {
                height: 100%;

                .carousel-caption {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    right: 0;
                }

            }
    
        }
    }

}

.carousel-inner {
    overflow-x: hidden;
}


@keyframes fadeInLeft {
    0% {
        transform: translateX(135px);
        opacity: 0;
    }
    25% {
        transform: translateX(0);
        opacity: 0.9;
    }
    75% {
        transform: translateX(0);
        opacity: 0.9;
    }
    100% {
        transform: translateX(135px);
        opacity: 0;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-135px);
        opacity: 0;
    }
    // 25% {
    //     transform: translateX(0);
    //     opacity: 0.9;
    // }
    // 75% {
    //     transform: translateX(0);
    //     opacity: 0.9;
    // }
    100% {
        transform: translateX(0);
        opacity: 0.9;
    }
}
// @keyframes fadeInRight {
//     0% {
//         transform: translateX(-135px);
//         opacity: 0;
//     }
//     25% {
//         transform: translateX(0);
//         opacity: 0.9;
//     }
//     75% {
//         transform: translateX(0);
//         opacity: 0.9;
//     }
//     100% {
//         transform: translateX(-135px);
//         opacity: 0;
//     }
// }

