
*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html, #wrapper {
    position: relative;
    font-family: $ff;
    width: 100%;
    font-size: 14px;
    color: $primary;
    // overflow-x: hidden; 
}

ul, ol {
    list-style-type: none;;
}

a {
    color: $primary;
    display: block;
}