$fs-h1: 60px;

$ff-os: 'Open Sans',sans-serif;
$ff-rw: 'Raleway', sans-serif;

/* COLOR */
$primary : #727272;
$lg : #4d3f3f;
$w : #ffffff;
$pink : #a3217f;

$btn-prm: #3276b1;
$btn-drk: #A3217F;
$btn-bdr: #285e8e;

$fw-thin: 100;
$fw-light: 300;
$fw-nml: 500;
$fw-sb: 600;
$fw-bold: 800;